vault:
  injector:
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi
        cpu: 250m

  server:
    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 500m

    dataStorage:
      size: 1Gi

    # Disable anti-affinity for single-node dev cluster
    affinity: ""
