postgresql:
  fullnameOverride: keycloak-postgresql

  global:
    imageRegistry: docker-registry.ebrains.eu
    imagePullSecrets:
      - docker-registry-secret
    postgresql:
      auth:
        database: bitnami_keycloak
        username: bn_keycloak
        existingSecret: keycloak-postgresql-credentials
        secretKeys:
          adminPasswordKey: postgres-password
          userPasswordKey: password

  image:
    repository: hdc-services-external/bitnami/postgresql

  primary:
    persistence:
      size: 5Gi
      storageClass: "csi-cinder-high-speed"

    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 64Mi
