global:
  domain: argocd.dev.hdc.ebrains.eu

redis:
  enabled: true
redis-ha:
  enabled: false

server:
  service:
    type: NodePort
    nodePortHttps: 30443
    nodePortHttp: 30081

configs:
  cm:
    admin.enabled: "true"
    url: https://argocd.dev.hdc.ebrains.eu
