global:
  domain: argocd.dev.hdc.ebrains.eu

redis:
  enabled: true
redis-ha:
  enabled: false

server:
  service:
    type: ClusterIP
  ingress:
    enabled: true
    controller: generic
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hostname: argocd.dev.hdc.ebrains.eu
    path: /
    pathType: Prefix
    tls: true

configs:
  cm:
    admin.enabled: "true"
    url: https://argocd.dev.hdc.ebrains.eu
